<!DOCTYPE html>
<html>
<head>
  <title>Tabla de Información Personal</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>
</head>
<body>
<h1>Información Personal</h1>

<table>
  <tr>
    <th>Nombre completo</th>
    <th>Número de Identificación</th>
    <th>Correo Electrónico</th>
    <th>Celular</th>
    <th>Carrera</th>
    <th>Semestre</th>
  </tr>
  <tr>
    <td>John</td>
    <td>123456789</td>
    <td>john.doe@example.com</td>
    <td>1234567890</td>
    <td>City</td>
    <td>Barrio Ejemplo</td>
  </tr>
  <!-- Puedes agregar más filas aquí para incluir más personas -->
  <tr th:each="user : ${users}">
    <td th:text="${user.name}">Usuario 1</td>
    <td th:text="${user.identification}">123456789</td>
    <td th:text="${user.email}">usuario1@example.com</td>
    <td th:text="${user.role}">Administrador</td>
  </tr>
</table>
</body>
</html>
