<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="/css/bootstrap.css">
  <link th:href="@{/css/styleSelects.css}" rel="stylesheet" href="/css/styleSelects.css">
  <link th:href="@{/css/all.css}" rel="stylesheet" href="/css/all.css">
  <link th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
  <link th:href="@{/css/solid.css}" href="/css/solid.css" rel="stylesheet">
  <script th:src="@{/js/jquery.js}" src="/js/jquery.js"></script>
  <script th:src="@{/js/bootstrap.js}" src="/js/bootstrap.js"></script>
  <script defer src="/js/all.js" th:src="@{/js/all.js}"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

    .hidden {
      display: none;
    }

    nav {
      background-color: #0C0096;
      padding: 10px;
      height: 50px;
    }
    .btn-transparent {
      background-color: transparent;
      border: none;
      color: #ffffff; /* Color del texto */
      padding: 0; /* Opcional: ajusta el espaciado del botón */
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display:none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      flex-direction: column;
      right: 0;
      text-align: right;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
    .logo {
      position: relative;
      top: 30px;
    }
  </style>
  <script>
    function showForm() {
      var select = document.getElementById("userType");
      var selectedValue = select.options[select.selectedIndex].value;

      // Ocultar todos los formularios
      var forms = document.getElementsByClassName("user-form");
      for (var i = 0; i < forms.length; i++) {
        forms[i].classList.add("hidden");
      }

      // Mostrar el formulario seleccionado
      var selectedForm = document.getElementById(selectedValue + "-form");
      selectedForm.classList.remove("hidden");
    }
  </script>
  <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg justify-content-start">
  <div class="container-fluid justify-content-start">
    <img src="/img/logoAVH.png" alt="Logo" width="111" height="111" class="logo">
    <div class="navbar-nav ml-3" style="color: white; font-family: 'Lobster Two', cursive;">
      <a class="navbar-brand"><p></p></a>
      <a class="navbar-brand">
        <form th:action="@{/administrative-tools/home-administrative}" class="btn btn-transparent">
          <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">Inicio</button>
        </form>
        <a class="navbar-brand"><p></p></a>
      </a>
      <a class="navbar-brand">
        <form th:action="@{/administrative-tools/info}" class="btn btn-transparent">
          <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">Información general</button>
        </form>
      </a>
      <a class="navbar-brand"><p></p></a>
      <a class="navbar-brand">
        <form th:action="@{/administrative-tools/users-table}" class="btn btn-transparent">
          <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">Panel de Gestión</button>
        </form>
      </a>
      <a class="navbar-brand"><p></p></a>
      <a class="navbar-brand">
        <form th:action="@{/administrative-tools/reservation}" class="btn btn-transparent">
          <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">               Reservar               </button>
        </form>
      </a>
    </div>
  </div>
  <a class="navbar-brand">
    <div class="dropdown">
      <button class="btn btn-transparent dropdown-toggle" type="button"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"style="background-color: transparent; border: none; font-size: 20px; color: white; font-family: 'Lobster Two', cursive;" th:Text="${user.name}"
      ></button>
      <div class="dropdown-content" style="right: 0; text-align: right; color: white; font-family: 'Lobster Two', cursive; left: calc(50% - 50px); transform: translateX(-50%);">
        <div class="none" style="flex-direction: column; display: flex; right: 0; text-align: right;">
          <form th:action="@{/login/}" class="btn btn-transparent">
            <button type="submit" style="color: black; border: none; font-size: 15px;" class="btn btn-transparent">Cerrar sesión</button>
          </form>
          <form th:action="@{/student/changePassword}" class="btn btn-transparent">
            <button type="submit" style="color: black; border: none; font-size: 15px;" class="btn btn-transparent">Cambiar contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </a>

</nav>
<br><br>

<!-- Botones adicionales -->
<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h1 style="color: black; font-family: 'Lobster Two', cursive; font-size: 80px">Opciones de Gestión</h1>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-auto">
      <form th:action="@{/administrative-tools/register}">
        <button type="submit" style="font-family: 'Lobster Two', cursive; font-size: 18px; background-color: #0c0096; border-top-color: transparent; color: white; outline: none; outline-offset: -2px;" class="btn btn-primary">Registrar usuario</button>
      </form>
    </div>
    <div class="col-auto">
      <form th:action="@{/administrative-tools/info-subject}">
        <button type="submit" style="font-family: 'Lobster Two', cursive; font-size: 18px; background-color: #0c0096; border-top-color: transparent; color: white; outline: none; outline-offset: -2px;" class="btn btn-primary">Gestionar materia</button>
      </form>
    </div>
    <div class="col-auto">
      <form th:action="@{/administrative-tools/manage-classroom}">
        <button type="submit" style="font-family: 'Lobster Two', cursive; font-size: 18px; background-color: #0c0096; border-top-color: transparent; color: white; outline: none; outline-offset: -2px;" class="btn btn-primary">Gestionar salones</button>
      </form>
    </div>
    <div class="col-auto">
      <form th:action="@{/administrative-tools/users-table}">
        <button type="submit" style="font-family: 'Lobster Two', cursive; font-size: 18px; background-color: #0c0096; border-top-color: transparent; color: white; outline: none; outline-offset: -2px;" class="btn btn-primary">Información de usuarios</button>
      </form>
    </div>
  </div>
</div>

<!-- Selector de tipo de usuario -->
<div class="container mt-5">
  <h1 style="font-family: 'Lobster Two', cursive;">Selecciona el tipo de usuario:</h1>
  <br><br>
  <div class="select-container">
  <select class="form-select select-box" id="userType" onchange="showForm()">
    <option value="student">Estudiante</option>
    <option value="teacher">Profesor</option>
    <option value="administrative">Administrativo</option>
  </select>
    <div class="icon-container1">
      <i class="fas fa-user-tag i"></i>
    </div>
  </div>
</div>

<!-- Formulario de registro de Estudiante -->

<div class="container mt-5 user-form" id="student-form">
  <h1 style="font-family: 'Lobster Two', cursive; text-align: center;">Registro de Estudiante</h1>
  <form th:action="@{/administrative-tools/create-student}" method="post">
    <div class="form-group">
      <label for="identificationStudent">Identificación:</label>
      <input type="text" class="form-control" id="identificationStudent" name="identificationStudent" required>
    </div>
    <div class="form-group">
      <label for="nameStudent">Nombre:</label>
      <input type="text" class="form-control" id="nameStudent" name="nameStudent" required>
    </div>
    <div class="form-group">
      <label for="emailStudent">Correo:</label>
      <input type="email" class="form-control" id="emailStudent" name="emailStudent" required>
    </div>
    <div class="form-group">
      <label for="passwordStudent">Contraseña:</label>
      <input type="password" class="form-control" id="passwordStudent" name="passwordStudent" required>
    </div>
    <div class="form-group">
      <label for="semesterStudent">Semestre:</label>
      <input type="number" class="form-control" id="semesterStudent" name="semesterStudent" required>
    </div>
    <br>
    <button type="submit" style="font-family: 'Lobster Two', cursive; font-size: 18px; background-color: #0c0096; border-top-color: transparent; color: white; outline: none; outline-offset: -2px;" class="btn btn-primary">Registrar</button>
    <br><br>
  </form>
</div>

<!-- Formulario de registro de Profesor -->

<div class="container mt-5 user-form hidden" id="teacher-form">
  <h1 style="font-family: 'Lobster Two', cursive; text-align: center;">Registro de Profesor</h1>
  <form th:action="@{/administrative-tools/create-teacher}" method="post">
    <div class="form-group">
      <label for="identificationTeacher">Identificación:</label>
      <input type="text" class="form-control" id="identificationTeacher" name="identificationTeacher" required>
    </div>
    <div class="form-group">
      <label for="nameTeacher">Nombre:</label>
      <input type="text" class="form-control" id="nameTeacher" name="nameTeacher" required>
    </div>
    <div class="form-group">
      <label for="emailTeacher">Correo:</label>
      <input type="email" class="form-control" id="emailTeacher" name="emailTeacher" required>
    </div>
    <div class="form-group">
      <label for="passwordTeacher">Contraseña:</label>
      <input type="password" class="form-control" id="passwordTeacher" name="passwordTeacher" required>
    </div>
    <br>
    <button type="submit" style="font-family: 'Lobster Two', cursive; font-size: 18px; background-color: #0c0096; border-top-color: transparent; color: white; outline: none; outline-offset: -2px;" class="btn btn-primary">Registrar</button>
    <br><br>
  </form>
</div>

<!-- Formulario de registro de Administrativo -->

<div class="container mt-5 user-form hidden" id="administrative-form">
  <h1 style="font-family: 'Lobster Two', cursive; text-align: center;">Registro de Administrativo</h1>
  <form th:action="@{/administrative-tools/create-administrative}" method="post">
    <div class="form-group">
      <label for="identificationAdministrative">Identificación:</label>
      <input type="text" class="form-control" id="identificationAdministrative" name="identificationAdministrative" required>
    </div>
    <div class="form-group">
      <label for="nameAdministrative">Nombre:</label>
      <input type="text" class="form-control" id="nameAdministrative" name="nameAdministrative" required>
    </div>
    <div class="form-group">
      <label for="emailAdministrative">Correo:</label>
      <input type="email" class="form-control" id="emailAdministrative" name="emailAdministrative" required>
    </div>
    <div class="form-group">
      <label for="passwordAdministrative">Contraseña:</label>
      <input type="password" class="form-control" id="passwordAdministrative" name="passwordAdministrative" required>
    </div>
    <div class="form-group">
      <label for="chargeAdministrative">Cargo:</label>
      <input type="text" class="form-control" id="chargeAdministrative" name="chargeAdministrative" required>
    </div>
    <br>
    <button type="submit" style="font-family: 'Lobster Two', cursive; font-size: 18px; background-color: #0c0096; border-top-color: transparent; color: white; outline: none; outline-offset: -2px;" class="btn btn-primary">Registrar</button>
    <br><br>
  </form>
</div>
<br>
</body>
</html>