<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="/css/bootstrap.css">
    <link th:href="@{/css/styleSelects.css}" rel="stylesheet" href="/css/styleSelects.css">
    <link th:href="@{/css/all.css}" rel="stylesheet" href="/css/all.css">
    <link th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link th:href="@{/css/solid.css}" href="/css/solid.css" rel="stylesheet">
    <script th:src="@{/js/jquery.js}" src="/js/jquery.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="/js/bootstrap.js"></script>
    <script defer src="/js/all.js" th:src="@{/js/all.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Cambios</title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); nav { background-color: #0C0096; padding: 10px; height: 50px; } .dropdown {position: relative;display: inline-block;} .dropdown-content {display:none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);padding: 12px 16px;flex-direction: column;right: 0;text-align: right;} .dropdown:hover .dropdown-content {display: block;} .btn-transparent { background-color: transparent; border: none; color: #ffffff;  /* Color del texto */ padding: 0;  /* Opcional: ajusta el espaciado del botón */ } .logo { position: relative; top: 30px; } .menu-container { display: flex; justify-content: center; } .menu-button { flex: 1; } </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap">
</head>
<body>
<nav class="navbar navbar-expand-lg justify-content-start">
<div class="container-fluid justify-content-start">
    <img src="/img/logoAVH.png" alt="Logo" width="111" height="111" class="logo">
    <div class="navbar-nav ml-auto" style="color: white; font-family: 'Lobster Two', cursive;">
        <a class="navbar-brand"><p></p></a>
        <a class="navbar-brand">
            <form th:action="@{/administrative-tools/home-administrative}" class="btn btn-transparent">
                <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">Inicio</button>
            </form>
            <a class="navbar-brand"><p></p></a>
        </a>
        <a class="navbar-brand">
            <form th:action="@{/administrative-tools/info}" class="btn btn-transparent">
                <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">Información general</button>
            </form>
        </a>
        <a class="navbar-brand"><p></p></a>
        <a class="navbar-brand">
            <form th:action="@{/administrative-tools/users-table}" class="btn btn-transparent">
                <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">Panel de Gestión</button>
            </form>
        </a>
        <a class="navbar-brand"><p></p></a>
        <a class="navbar-brand">
            <form th:action="@{/administrative-tools/reservation}" class="btn btn-transparent">
                <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">               Reservar               </button>
            </form>
        </a>
    </div>
</div>
    <a class="navbar-brand">
        <div class="dropdown">
            <button class="btn btn-transparent dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"style="background-color: transparent; border: none; font-size: 20px; color: white; font-family: 'Lobster Two', cursive;" th:Text="${user.name}"
            ></button>
            <div class="dropdown-content" style="right: 0; text-align: right; color: white; font-family: 'Lobster Two', cursive; left: calc(50% - 50px); transform: translateX(-50%);">
                <div class="none" style="flex-direction: column; display: flex; right: 0; text-align: right;">
                    <form th:action="@{/login/}" class="btn btn-transparent">
                        <button type="submit" style="color: black; border: none; font-size: 15px;" class="btn btn-transparent">Cerrar sesión</button>
                    </form>
                    <form th:action="@{/administrative-tools/changePassword}" class="btn btn-transparent">
                        <button type="submit" style="color: black; border: none; font-size: 15px;" class="btn btn-transparent">Cambiar contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </a>
</nav>
<br><br>
<div class="container mt-5">
    <h1 style="font-family: 'Lobster Two', cursive; text-align: center;">Editar contraseña</h1><br>
    <div class="container mt-5">
        <form onsubmit="return validarFormulario();" th:action="@{/administrative-tools/editPassword}" method="post" class="border p-3 form">
            <div class="mb-3">
                <label for="password" class="form-label" style="font-family: 'Lobster Two', cursive; font-size: 23px;">Nueva contraseña:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label" style="font-family: 'Lobster Two', cursive; font-size: 23px;">Confirmar contraseña:</label>
                <input type="password" class="form-control" id="password1" name="password1">
            </div>
            <button type="submit" value="Enviar" class="btn btn-primary" style="background-color: #0c0096; font-family: 'Lobster Two', cursive;">Editar</button>
        </form>
    </div>
</div>
<br>
<br>
<script>
    function validarFormulario() {
        var password1 = document.getElementById("password").value;
        var password2 = document.getElementById("password1").value;

        if (password1 !== password2) {
            alert("Las contraseñas no coinciden. Por favor, inténtalo de nuevo.");
            return false;
        }
        return true;
    }
</script>
</body>