<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="/css/bootstrap.css">
  <link th:href="@{/css/styleSelects.css}" rel="stylesheet" href="/css/styleSelects.css">
  <link th:href="@{/css/all.css}" rel="stylesheet" href="/css/all.css">
  <link th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
  <link th:href="@{/css/solid.css}" href="/css/solid.css" rel="stylesheet">
  <script th:src="@{/js/jquery.js}" src="/js/jquery.js"></script>
  <script th:src="@{/js/bootstrap.js}" src="/js/bootstrap.js"></script>
  <script defer src="/js/all.js" th:src="@{/js/all.js}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Login Gestión de Horarios</title>
  <style>@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); nav { background-color: #0C0096; padding: 10px; height: 50px; } .dropdown {position: relative;display: inline-block;} .dropdown-content {display:none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);padding: 12px 16px;flex-direction: column;right: 0;text-align: right;} .dropdown:hover .dropdown-content {display: block;} .btn-transparent { background-color: transparent; border: none; color: #ffffff;  /* Color del texto */ padding: 0;  /* Opcional: ajusta el espaciado del botón */ } .logo { position: relative; top: 30px; } .menu-container { display: flex; justify-content: center; } .menu-button { flex: 1; }</style>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap">
</head>
<body>
<nav class="navbar navbar-expand-lg justify-content-start ">
  <div class="container-fluid justify-content-start">
    <img src="/img/logoAVH.png" alt="Logo" width="111" height="111" class="logo">
    <div class="navbar-nav ml-3" style="color: white; font-family: 'Lobster Two', cursive;"> <a class="navbar-brand"><p></p></a> <a class="navbar-brand"> <form th:action="@{/teacher/home-teacher}" class="btn btn-transparent">
      <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">               Inicio               </button>
    </form> <a class="navbar-brand"><p></p></a> </a> <a class="navbar-brand"> <form th:action="@{/teacher/info-teacher}" class="btn btn-transparent">
      <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">        Información general         </button>
    </form> </a> <a class="navbar-brand"><p></p></a> <a class="navbar-brand"> <form th:action="@{/teacher/schedule-teacher}" class="btn btn-transparent">
      <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">               Horario               </button>
    </form> </a>
    </div>
  </div>
  <a class="navbar-brand">
    <div class="dropdown">
      <button class="btn btn-transparent dropdown-toggle" type="button"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"style="background-color: transparent; border: none; font-size: 20px; color: white; font-family: 'Lobster Two', cursive;" th:Text="${user.name}"
      ></button>
      <div class="dropdown-content" style="right: 0; text-align: right; color: white; font-family: 'Lobster Two', cursive; left: calc(50% - 50px); transform: translateX(-50%);">
        <div class="none" style="flex-direction: column; display: flex; right: 0; text-align: right;">
          <form th:action="@{/login/}" class="btn btn-transparent">
            <button type="submit" style="color: black; border: none; font-size: 15px;" class="btn btn-transparent">Cerrar sesión</button>
          </form>
          <form th:action="@{/teacher/changePassword}" class="btn btn-transparent">
            <button type="submit" style="color: black; border: none; font-size: 15px;" class="btn btn-transparent">Cambiar contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </a>
</nav>
<br><br>
<br>
<div class="container mt-5">
  <h1 style="font-family: 'Lobster Two', cursive; text-align: center;">Disponibilidad</h1><br>
  <div class="container mt-5">
    <form th:action="@{/teacher/newAvailability}" method="post" class="border p-3 form">
      <div class="mb-3">
        <select class="form-control" id="day" name="day">
          <option value="0">Lunes</option>
          <option value="1">Martes</option>
          <option value="2">Miércoles</option>
          <option value="3">Jueves</option>
          <option value="4">Viernes</option>
          <option value="5">Sábado</option>

        </select>
      </div>
      <div class="mb-3">
        <label for="start" class="form-label" style="font-family: 'Lobster Two', cursive; font-size: 23px;">Desde</label>
        <input type="text" class="form-control" id="start" name="start">
      </div>
      <div class="mb-3">
        <label for="end" class="form-label" style="font-family: 'Lobster Two', cursive; font-size: 23px;">Hasta</label>
        <input type="text" class="form-control" id="end" name="end">
      </div>
      <button type="submit" value="Enviar" class="btn btn-primary" style="background-color: #0c0096; font-family: 'Lobster Two', cursive;">Editar</button>
    </form>
  </div>
</div>
<br>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>