<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="/css/bootstrap.css">
  <link th:href="@{/css/styleSelects.css}" rel="stylesheet" href="/css/styleSelects.css">
  <link th:href="@{/css/all.css}" rel="stylesheet" href="/css/all.css">
  <link th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.css">
  <link th:href="@{/css/solid.css}" href="/css/solid.css" rel="stylesheet">
  <script th:src="@{/js/jquery.js}" src="/js/jquery.js"></script>
  <script th:src="@{/js/bootstrap.js}" src="/js/bootstrap.js"></script>
  <script defer src="/js/all.js" th:src="@{/js/all.js}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Login Gestión de Horarios</title>
  <style>@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); nav { background-color: #0C0096; padding: 10px; height: 50px; } .dropdown {position: relative;display: inline-block;} .dropdown-content {display:none;position: absolute;background-color: #f9f9f9;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);padding: 12px 16px;flex-direction: column;right: 0;text-align: right;} .dropdown:hover .dropdown-content {display: block;} .btn-transparent { background-color: transparent; border: none; color: #ffffff;  /* Color del texto */ padding: 0;  /* Opcional: ajusta el espaciado del botón */ } .logo { position: relative; top: 30px; } .menu-container { display: flex; justify-content: center; } .menu-button { flex: 1; }</style>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap">
</head>
<body>
<nav class="navbar navbar-expand-lg justify-content-start ">
  <div class="container-fluid justify-content-start">
    <img src="/img/logoAVH.png" alt="Logo" width="111" height="111" class="logo">
    <div class="navbar-nav ml-3" style="color: white; font-family: 'Lobster Two', cursive;"> <a class="navbar-brand"><p></p></a> <a class="navbar-brand"> <form th:action="@{/teacher/home-teacher}" class="btn btn-transparent">
      <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">               Inicio               </button>
    </form> <a class="navbar-brand"><p></p></a> </a> <a class="navbar-brand"> <form th:action="@{/teacher/info-teacher}" class="btn btn-transparent">
      <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">        Información general         </button>
    </form> </a> <a class="navbar-brand"><p></p></a> <a class="navbar-brand"> <form th:action="@{/teacher/schedule-teacher}" class="btn btn-transparent">
      <button type="submit" style="background-color: transparent; border: none; font-size: 20px;" class="btn btn-transparent">               Horario               </button>
    </form> </a>
    </div>
  </div>
  <a class="navbar-brand">
    <div class="dropdown">
      <button class="btn btn-transparent dropdown-toggle" type="button"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"style="background-color: transparent; border: none; font-size: 20px; color: white; font-family: 'Lobster Two', cursive;" th:Text="${user.name}"
      ></button>
      <div class="dropdown-content" style="right: 0; text-align: right; color: white; font-family: 'Lobster Two', cursive; left: calc(50% - 50px); transform: translateX(-50%);">
        <div class="none" style="flex-direction: column; display: flex; right: 0; text-align: right;">
          <form th:action="@{/login/}" class="btn btn-transparent">
            <button type="submit" style="color: black; border: none; font-size: 15px;" class="btn btn-transparent">Cerrar sesión</button>
          </form>
          <form th:action="@{/teacher/changePassword}" class="btn btn-transparent">
            <button type="submit" style="color: black; border: none; font-size: 15px;" class="btn btn-transparent">Cambiar contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </a>
</nav>
<br><br>
<div class="container mt-5">
  <h1 style="font-family: 'Lobster Two', cursive; text-align: center;">Información Personal</h1>
  <div class="container mt-5">
    <table class="table table-striped" style="font-family: 'Nunito Sans', sans-serif;">
      <thead>
      <tr style="text-align: center; background-color: #0c0096; color: #ffffff;">
        <th style="text-align: center; background-color: #0c0096; color: #ffffff;">Nombre completo</th>
        <th style="text-align: center; background-color: #0c0096; color: #ffffff;">Número de Identificación</th>
        <th style="text-align: center; background-color: #0c0096; color: #ffffff;">Correo Electrónico</th>
        <th style="text-align: center; background-color: #0c0096; color: #ffffff;">Rol</th>
      </tr>
      <tr>
        <td th:Text="${userTeacher.name}">John</td>
        <td th:Text="${userTeacher.id}">123456789</td>
        <td th:Text="${userTeacher.email}">john.doe@example.com</td>
        <td th:Text="${userTeacher.role}">1234567890</td>
      </tr>
    </table>
    <div class="container mt-5">
      <form th:action="@{/teacher/edit-teacher}">
        <button class="btn btn-primary" style="font-family: 'Lobster Two', cursive;
                float: right; font-size: 18px; background-color: #0c0096; border-top-color: #000000;
                outline: none; outline-offset: -2px;" type="submit">Editar información personal</button>
      </form> </div><br>
  </div>
  <div class="container mt-5">
    <h1 style="font-family: 'Lobster Two', cursive; text-align: center;">Disponibilidad</h1>
    <table class="table table-striped" style="font-family: 'Nunito Sans', sans-serif;">
      <thead>
      <tr style="text-align: center; background-color: #0c0096; color: #ffffff;">
        <th style="text-align: center; background-color: #0c0096; color: #ffffff;">Día de la semana</th>
        <th style="text-align: center; background-color: #0c0096; color: #ffffff;">Desde</th>
        <th style="text-align: center; background-color: #0c0096; color: #ffffff;">Hasta</th>
        <th style="text-align: center; background-color: #0c0096; color: #ffffff;">Cambios</th>
      </tr>
      </thead>
      <tr th:each="disponibilidad: ${userTeacher.availability}">
        <td th:text="${disponibilidad.dayOfWeek}">Lunes</td>
        <td th:text="${disponibilidad.start}">9:00 am</td>
        <td th:text="${disponibilidad.end}">11:00 am</td>
        <td>
          <form style="display: inline-block; margin-right: 5px;" th:action="@{/teacher/editar/{id}(id=${disponibilidad.id})}" method="get">
            <button style="font-family: 'Lobster Two', cursive; font-size: 18px; background-color: #0c0096; border-top-color: transparent; color: white; outline: none; outline-offset: -2px;" type="submit">Editar</button>
          </form>
          <form style="display: inline-block;" th:action="@{/teacher/eliminar/{id}(id=${disponibilidad.id})}" method="get">
            <button style="font-family: 'Lobster Two', cursive; font-size: 18px; background-color: #0c0096; border-top-color: transparent; color: white; outline: none; outline-offset: -2px;" type="submit">Eliminar</button>
          </form>
        </td>
      </tr>

    </table>
  </div>
  <div class="container mt-5">
    <form th:action="@{/teacher/add-availability}">
      <button class="btn btn-primary" style="font-family: 'Lobster Two', cursive;
                float: right; font-size: 18px; background-color: #0c0096; border-top-color: #000000;
                outline: none; outline-offset: -2px;" type="submit">Agregar disponibilidad</button>
    </form> </div><br>
</div>
<br>
<div class="container mt-5" >
  <h1 style="font-family: 'Lobster Two', cursive; text-align: center;">Asignaturas dictadas</h1>
  <div class="container mt-5">
    <table class="table table-striped" style="font-family: 'Nunito Sans', sans-serif;">
      <thead>
      <tr style="text-align: center; background-color: #0c0096; color: #ffffff;">
        <th style="text-align: center; background-color: #0c0096; color: #ffffff;">Identificador</th>
        <th style="text-align: center; background-color: #0c0096; color: #ffffff;">Nombre</th>
      </tr>
      </thead>
      <tr th:each="subject: ${userTeacher.subjects}">
        <td th:text="${subject.id}">john.doe@example.com</td>
        <td th:text="${subject.name}">123456789</td>
      </tr>
    </table>
  </div>
</div><br>
<br>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>